@model Moment2.Models.UserModel
<div>
    @if (ViewBag.user != null)
    {
        <p class="welcome-back">Välkommen tillbaka @ViewBag.user</p>
    }
    else
    {
        <form aspnet method="post">
            <div>
                <label asp-for="User"></label>
                <input asp-for="User">
                <span asp-validation-for="User"></span>
            </div>
            <input type="submit" value="Logga in">
        </form>
    }
</div>